:root {
  --bg-color: #fff2eb;
  --card-color: #af0000;
  --card-color-secondary: #e77c7c;
  --shadows-color: #380000;
  --title-color: #ffe6e6;
  --text-color: #fff2eb;
}

/* PlayFair Regular */
@font-face {
  font-family: "PlayFair";
  src: url("src/assets/fonts/PlayFair/PlayfairDisplay-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayFair";
  src: url("src/assets/fonts/PlayFair/PlayfairDisplay-Italic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Fira Regular */
@font-face {
  font-family: "Fira";
  src: url("src/assets/fonts/Fira/FiraCode-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira";
  src: url("src/assets/fonts/Fira/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

.parent {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
  padding: 25px;
}

.card {
  background-color: var(--card-color);
  color: var(--text-color);
  padding: 15px;
  position: relative;
  border-radius: 15px;
}

.headerOscar {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0px -5px 15px var(--shadows-color);
}

.headerOscar h1 {
  font-family: "PlayFair";
  font-size: 30px;
  font-weight: bold;
}

.phraseContainer {
  display: flex;
  align-items: end;
  box-shadow: -5px 0px 15px var(--shadows-color);
}

.phraseContainer p {
  width: 90%;
  margin: 10px;
  font-family: "Chubbo";
  font-size: 2.5dvw;
}

.phraseContainer .mandalaImg {
  width: 225px;
  filter: grayscale(1);
  opacity: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.myWork {
  box-shadow: 5px 0px 15px var(--shadows-color);
}

.workContainer {
  height: 110%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 15px;
}

.workItem {
  padding: 10px 25px;
  border-bottom: 2px solid var(--title-color);
  transition: all 0.3s ease-in-out;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleContainer h2 {
  font-family: "Fira";
  font-size: 20px;
}

.selected {
  grid-row: span 4 / span 4;
}

.previewContainer {
  height: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.3s ease-in-out, margin 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.previewContainer:hover {
  transform: scale(1.02);
}

.previewContainer img {
  width: 100%;
  object-fit: fill;
  border-radius: 15px;
}

.selected .previewContainer {
  height: 250px;
  margin: 15px 0;
}

.contactMe {
  background-color: var(--card-color-secondary);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 15px var(--shadows-color);
}

.arriba {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arriba h3 {
  font-family: "Fira";
  font-size: 15px;
}

.arriba img {
  width: 40px;
  filter: invert(1);
  transform: rotate(225deg);
}

.abajo h1 {
  font-family: "Chubbo";
  font-size: 65px;
  line-height: 1;
}

.aboutMe {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  box-shadow: -5px 5px 15px var(--shadows-color);
}

.aboutMe img {
  width: 50px;
  margin-top: 25px;
  position: absolute;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.aboutMe h3 {
  width: 85%;
  font-family: "Fira";
  font-size: 14px;
}

/* Image Section */
.imageContainer {
  background-color: var(--card-color-secondary);
  padding: 0;
  box-shadow: 0px 0px 15px var(--shadows-color);
}

.image {
  position: absolute;
  bottom: 0;
  border-radius: 15px;
}

.socialMedia {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 5px 5px 15px var(--shadows-color);
}

.socialMedia nav {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}

.socialMedia nav a {
  font-family: "Fira";
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

.socialMedia nav a:hover {
  transform: translateY(-5px);
}
